
@{
    ViewData["Title"] = "Bosque Protector";
    var sensorsTypeAndLocation  = (List<string>)ViewData["l"];
}
@section Style {
  <link rel="stylesheet" type="text/css" href="~/css/charts.css">
}

<div class ="card">
  <div class="card-body">
    <h3 class="titleHistoricalView" >Históricos entre estaciones</h3>
  
    <form class="form-inline justify-content-center">
      <div class="form-group">
        <label for="selectStation">Sensor:</label>
        <select class="form-control mr-2" id="selectStation">
          @foreach(var obj in @sensorsTypeAndLocation){
            <option>
              @(obj)
            </option>
          }
        </select>
      </div>
       <div class="form-group">
        <label for="startDate">Desde:</label>
        <input type="date" class="form-control mr-2 date-picker" required="true">   
      </div>
      <div class="form-group">
        <label for="endDate">Hasta:</label>
        <input type="date" class="form-control mr-2 date-picker-end" required="true">   
      </div>
      <button type="button" class="btn btn-success" id="button-filter">Filtrar</button> 
    </form>
  </div>
</div>

<div class="chartsContainer">
</div>

@section ScriptsIndex {  
  <script src="~/js/moment.js" type="text/javascript"></script> 
  <script src="~/js/charts/canvasjs-2.1.2/canvasjs.min.js" type="text/javascript"></script>  
  <script src="~/js/charts/simple-statistics/simple-statistics.min.js" type="text/javascript"></script>
  <script src="~/js/charts/byDateStation.js" type="text/javascript"></script>
}