@model IEnumerable<WebApplication.Models.Station>
@{
    ViewData["Title"] = "Bosque Protector";
}
@section Style {
  <link rel="stylesheet" type="text/css" href="~/css/charts.css">
}


<div class ="card">
  <div class="card-body">
    <h3 class="titleHistoricalView" >Históricos por mes</h3>
  
    <form class="form-inline justify-content-center">
      <div class="form-group">
        <label for="selectStation">Estación:</label>
        <select class="form-control mr-2" id="selectStation">
          @foreach (Station station in @Model) {
            <option value="@(station.Id)">
              @(station.Name)
            </option>
          }
        </select>
      </div>
      <div class="form-group">
        <label>Año:</label>
        <select class="form-control mr-2 date-picker" >
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
          <option>2026</option>
          <option>2027</option>
          <option>2028</option>
          <option>2029</option>
          <option>2030</option>        
        </select>
      </div>
      <button type="button" class="btn btn-success" id="button-filter">Filtrar</button> 
    </form>
  </div>
</div>

<div class="chartsContainer">
</div>

@section ScriptsIndex {  
  <script src="~/js/moment.js" type="text/javascript"></script> 
  <script src="~/js/charts/canvasjs-2.1.2/canvasjs.min.js" type="text/javascript"></script>  
  <script src="~/js/charts/simple-statistics/simple-statistics.min.js" type="text/javascript"></script>
  <script src="~/js/charts/byMonth.js" type="text/javascript"></script>
}